.App {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.btn-list {
  margin-bottom: 1rem;
}

.btn-item {
  background: #fff;
  border: 2px solid #333;
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.btn-item:not(:last-child) {
  margin-right: 0.5rem;
}

.btn-item.active {
  background: #333;
  color: #fff;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.project-item {
  aspect-ratio: 1;
}